.DS_Store
*.pyc
*~
.*.swp
._*
.project
.pydevproject
.settings
.env
.vscode
build
update.sh
lib/__init__.py
rt-sandbox/**
.rt-deps/**
*.egg-info/**
dist/**
# test_code/**
.style.yapf

var/**
.credentials/**
*.png
*.log
*.txt
*.db3
*.sqlite
*.sh
*.json
*.html
*.csv

# temp
pkg/**
**/bak/**
**backup**
**/summary/**

# Ignore test files
*.txt
*.ccc
*.fasta

# Build files for cplusplus
**/CMakeFiles/**
**/Makefile
**/ccc_example
**/test_ccc
**/ccc.pc
**/*.a
**/*.cmake
**/large_file_benchmark
!**/CMakeLists.txt